@use "./queries.scss" as *;
@use "./colours.scss" as *;
@use "./animation.module.scss" as *;
// :root {
//     --base: 24px;
//     --font-body: system-ui;

//     --gutter-h: 180px;
//     --block-padding: 120px;

//     @include large-break {
//         --gutter-h: 144px;
//         --block-padding: 96px;
//     }

//     @include mid-break {
//         --gutter-h: 24px;
//         --block-padding: 60px;
//     }
// }

@mixin animate-appear {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
  position: absolute;
}

.container-main {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: flex-start;
  background-color: var(--color-main-bg);
  justify-content: center;
}

.wrapper-grain {
  // background-image: linear-gradient(var(--color-grain-1), var(--color-grain-2));

  width: 95%;
  border-radius: 15px;
  height: 97vh;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  margin-top: 15px;
  // flex-direction: column;
}

.container-grain {
  width: 100%;
  // background-color: var(--color-grain-1);
  // background-image: url("../../../public/arcGrainy.png");
  // background: radial-gradient(
  //     circle at 50% 90%,
  //     rgb(27, 42, 46),
  //     rgba(188, 181, 170, 0)
  //   ),
  //   url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 243 243'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='franctalNoise' baseFrequency='2.3' /%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' /%3E%3C/svg%3E");
  // background: radial-gradient(
  //     at 34% 32%,
  //     hsla(193, 24%, 15%, 1) 0,
  //     transparent 50%
  //   ),
  //   radial-gradient(at 80% 0%, hsla(37, 12%, 70%, 1) 0, transparent 50%);
  // filter: contrast(170%) brightness(1000%);
  background: linear-gradient(180deg, rgba(27, 42, 46, 0.59), rgba(0, 0, 0, 0)),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 86 86' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-position: "top center";
  border-radius: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.components {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 50%;
}

.hello-world {
  display: block;
  font-style: italic;
  @include animate-appear();
  top: 12.5%;
}

.hello-name {
  display: block;
  color: var(--color-grain-text);
  line-height: 120%;
  font-weight: 700;
  letter-spacing: 0.64px;
  @include animate-appear();
}
